IF3110-02-Simple-Blog-Java/src/conf/xml-resources/web-service-references/BlogService/wsdl/not-a-simple-blog.herokuapp.com/BlogService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="BlogServiceImplService" targetNamespace="http://service.heroku.chamerling.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.heroku.chamerling.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.heroku.chamerling.org/" xmlns:tns="http://service.heroku.chamerling.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addComment" type="tns:addComment"/>
  <xs:element name="addCommentResponse" type="tns:addCommentResponse"/>
  <xs:element name="addPost" type="tns:addPost"/>
  <xs:element name="addPostResponse" type="tns:addPostResponse"/>
  <xs:element name="addUser" type="tns:addUser"/>
  <xs:element name="addUserResponse" type="tns:addUserResponse"/>
  <xs:element name="deletePost" type="tns:deletePost"/>
  <xs:element name="deletePostResponse" type="tns:deletePostResponse"/>
  <xs:element name="deleteUser" type="tns:deleteUser"/>
  <xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>
  <xs:element name="editPost" type="tns:editPost"/>
  <xs:element name="editPostResponse" type="tns:editPostResponse"/>
  <xs:element name="getAllPost" type="tns:getAllPost"/>
  <xs:element name="getAllPostResponse" type="tns:getAllPostResponse"/>
  <xs:element name="getAllUser" type="tns:getAllUser"/>
  <xs:element name="getAllUserResponse" type="tns:getAllUserResponse"/>
  <xs:element name="readUrl" type="tns:readUrl"/>
  <xs:element name="readUrlResponse" type="tns:readUrlResponse"/>
  <xs:element name="updateUser" type="tns:updateUser"/>
  <xs:element name="updateUserResponse" type="tns:updateUserResponse"/>
  <xs:complexType name="addComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addCommentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addPostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllUser">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllUserResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dataUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="idFirebase" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="nama" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractCollection">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractList">
    <xs:complexContent>
      <xs:extension base="tns:abstractCollection">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="arrayList">
    <xs:complexContent>
      <xs:extension base="tns:abstractList">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="editPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editPostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deletePost">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deletePostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="readUrl">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="readUrlResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllPost">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllPostResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:post"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="post">
    <xs:sequence>
      <xs:element minOccurs="0" name="idFirebasePost" type="xs:string"/>
      <xs:element name="idPost" type="xs:int"/>
      <xs:element minOccurs="0" name="judulPost" type="xs:string"/>
      <xs:element minOccurs="0" name="tanggalPost" type="xs:string"/>
      <xs:element minOccurs="0" name="kontenPost" type="xs:string"/>
      <xs:element name="publishStatus" type="xs:int"/>
      <xs:element name="cookieOn" type="xs:boolean"/>
      <xs:element minOccurs="0" name="konten" type="xs:string"/>
      <xs:element minOccurs="0" name="tanggal" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="InterruptedException" type="tns:InterruptedException"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addComment">
    <wsdl:part element="tns:addComment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part element="tns:deleteUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part element="tns:updateUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editPostResponse">
    <wsdl:part element="tns:editPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editPost">
    <wsdl:part element="tns:editPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllUserResponse">
    <wsdl:part element="tns:getAllUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readUrl">
    <wsdl:part element="tns:readUrl" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InterruptedException">
    <wsdl:part element="tns:InterruptedException" name="InterruptedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPost">
    <wsdl:part element="tns:addPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUser">
    <wsdl:part element="tns:updateUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCommentResponse">
    <wsdl:part element="tns:addCommentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readUrlResponse">
    <wsdl:part element="tns:readUrlResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part element="tns:deleteUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllUser">
    <wsdl:part element="tns:getAllUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part element="tns:addUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPostResponse">
    <wsdl:part element="tns:getAllPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPostResponse">
    <wsdl:part element="tns:addPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPost">
    <wsdl:part element="tns:getAllPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePostResponse">
    <wsdl:part element="tns:deletePostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePost">
    <wsdl:part element="tns:deletePost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser">
    <wsdl:part element="tns:addUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BlogService">
    <wsdl:operation name="addComment">
      <wsdl:input message="tns:addComment" name="addComment">
    </wsdl:input>
      <wsdl:output message="tns:addCommentResponse" name="addCommentResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InterruptedException" name="InterruptedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <wsdl:input message="tns:addPost" name="addPost">
    </wsdl:input>
      <wsdl:output message="tns:addPostResponse" name="addPostResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InterruptedException" name="InterruptedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input message="tns:deleteUser" name="deleteUser">
    </wsdl:input>
      <wsdl:output message="tns:deleteUserResponse" name="deleteUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InterruptedException" name="InterruptedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input message="tns:updateUser" name="updateUser">
    </wsdl:input>
      <wsdl:output message="tns:updateUserResponse" name="updateUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InterruptedException" name="InterruptedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllUser">
      <wsdl:input message="tns:getAllUser" name="getAllUser">
    </wsdl:input>
      <wsdl:output message="tns:getAllUserResponse" name="getAllUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editPost">
      <wsdl:input message="tns:editPost" name="editPost">
    </wsdl:input>
      <wsdl:output message="tns:editPostResponse" name="editPostResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InterruptedException" name="InterruptedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <wsdl:input message="tns:deletePost" name="deletePost">
    </wsdl:input>
      <wsdl:output message="tns:deletePostResponse" name="deletePostResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InterruptedException" name="InterruptedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUser" name="addUser">
    </wsdl:input>
      <wsdl:output message="tns:addUserResponse" name="addUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InterruptedException" name="InterruptedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readUrl">
      <wsdl:input message="tns:readUrl" name="readUrl">
    </wsdl:input>
      <wsdl:output message="tns:readUrlResponse" name="readUrlResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPost">
      <wsdl:input message="tns:getAllPost" name="getAllPost">
    </wsdl:input>
      <wsdl:output message="tns:getAllPostResponse" name="getAllPostResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BlogServiceImplServiceSoapBinding" type="tns:BlogService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addComment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addComment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addCommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InterruptedException">
        <soap:fault name="InterruptedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InterruptedException">
        <soap:fault name="InterruptedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InterruptedException">
        <soap:fault name="InterruptedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InterruptedException">
        <soap:fault name="InterruptedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="editPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="editPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InterruptedException">
        <soap:fault name="InterruptedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InterruptedException">
        <soap:fault name="InterruptedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletePost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InterruptedException">
        <soap:fault name="InterruptedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readUrl">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="readUrl">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="readUrlResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlogServiceImplService">
    <wsdl:port binding="tns:BlogServiceImplServiceSoapBinding" name="BlogServiceImplPort">
      <soap:address location="http://not-a-simple-blog.herokuapp.com/BlogService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>