WebClient-Netbeans/src/conf/xml-resources/web-service-references/CCWwebservice/wsdl/boiling-woodland-6522.herokuapp.com/CCWwebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CCWwebserviceService" targetNamespace="http://service.heroku.ccw.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.heroku.ccw.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://service.heroku.ccw.org/" version="1.0" xmlns:tns="http://service.heroku.ccw.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="createComment" type="tns:createComment"/>
<xs:element name="createCommentResponse" type="tns:createCommentResponse"/>
<xs:element name="createPost" type="tns:createPost"/>
<xs:element name="createPostResponse" type="tns:createPostResponse"/>
<xs:element name="createUser" type="tns:createUser"/>
<xs:element name="createUserResponse" type="tns:createUserResponse"/>
<xs:element name="deletePost" type="tns:deletePost"/>
<xs:element name="deletePostResponse" type="tns:deletePostResponse"/>
<xs:element name="deleteUser" type="tns:deleteUser"/>
<xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>
<xs:element name="getAllComments" type="tns:getAllComments"/>
<xs:element name="getAllCommentsResponse" type="tns:getAllCommentsResponse"/>
<xs:element name="getAllDeletedPosts" type="tns:getAllDeletedPosts"/>
<xs:element name="getAllDeletedPostsResponse" type="tns:getAllDeletedPostsResponse"/>
<xs:element name="getAllPublishedPosts" type="tns:getAllPublishedPosts"/>
<xs:element name="getAllPublishedPostsResponse" type="tns:getAllPublishedPostsResponse"/>
<xs:element name="getAllUnpublishedPosts" type="tns:getAllUnpublishedPosts"/>
<xs:element name="getAllUnpublishedPostsResponse" type="tns:getAllUnpublishedPostsResponse"/>
<xs:element name="getAllUsers" type="tns:getAllUsers"/>
<xs:element name="getAllUsersResponse" type="tns:getAllUsersResponse"/>
<xs:element name="getPost" type="tns:getPost"/>
<xs:element name="getPostResponse" type="tns:getPostResponse"/>
<xs:element name="getUser" type="tns:getUser"/>
<xs:element name="getUserResponse" type="tns:getUserResponse"/>
<xs:element name="publishPost" type="tns:publishPost"/>
<xs:element name="publishPostResponse" type="tns:publishPostResponse"/>
<xs:element name="restorePost" type="tns:restorePost"/>
<xs:element name="restorePostResponse" type="tns:restorePostResponse"/>
<xs:element name="searchPost" type="tns:searchPost"/>
<xs:element name="searchPostResponse" type="tns:searchPostResponse"/>
<xs:element name="updatePost" type="tns:updatePost"/>
<xs:element name="updatePostResponse" type="tns:updatePostResponse"/>
<xs:element name="updateUser" type="tns:updateUser"/>
<xs:element name="updateUserResponse" type="tns:updateUserResponse"/>
<xs:complexType name="getAllComments">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAllCommentsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:commentModel"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="commentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element name="created_at" type="xs:long"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="post_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="publishPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="publishPostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAllUnpublishedPosts">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getAllUnpublishedPostsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:postModel"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="postModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
      <xs:element name="date" type="xs:long"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element name="status" type="xs:boolean"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAllPublishedPosts">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getAllPublishedPostsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:postModel"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updatePost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element name="date" type="xs:long"/>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
      <xs:element name="status" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updatePostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getPostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:postModel"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAllDeletedPosts">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getAllDeletedPostsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:postModel"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userModel"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="userModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element name="date" type="xs:long"/>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createPostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="restorePost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="restorePostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAllUsers">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getAllUsersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userModel"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deletePost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deletePostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchPostResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:postModel"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="post_id" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createCommentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="publishPost">
    <wsdl:part element="tns:publishPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllUnpublishedPosts">
    <wsdl:part element="tns:getAllUnpublishedPosts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPublishedPosts">
    <wsdl:part element="tns:getAllPublishedPosts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="publishPostResponse">
    <wsdl:part element="tns:publishPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPostResponse">
    <wsdl:part element="tns:getPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePost">
    <wsdl:part element="tns:updatePost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPost">
    <wsdl:part element="tns:getPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part element="tns:updateUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllUnpublishedPostsResponse">
    <wsdl:part element="tns:getAllUnpublishedPostsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUser">
    <wsdl:part element="tns:getUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePostResponse">
    <wsdl:part element="tns:deletePostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part element="tns:getUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePost">
    <wsdl:part element="tns:deletePost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restorePostResponse">
    <wsdl:part element="tns:restorePostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchPost">
    <wsdl:part element="tns:searchPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchPostResponse">
    <wsdl:part element="tns:searchPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCommentsResponse">
    <wsdl:part element="tns:getAllCommentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createComment">
    <wsdl:part element="tns:createComment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllComments">
    <wsdl:part element="tns:getAllComments" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPostResponse">
    <wsdl:part element="tns:createPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllUsersResponse">
    <wsdl:part element="tns:getAllUsersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllDeletedPostsResponse">
    <wsdl:part element="tns:getAllDeletedPostsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part element="tns:deleteUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part element="tns:deleteUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUser">
    <wsdl:part element="tns:createUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCommentResponse">
    <wsdl:part element="tns:createCommentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllDeletedPosts">
    <wsdl:part element="tns:getAllDeletedPosts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPublishedPostsResponse">
    <wsdl:part element="tns:getAllPublishedPostsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserResponse">
    <wsdl:part element="tns:createUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPost">
    <wsdl:part element="tns:createPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restorePost">
    <wsdl:part element="tns:restorePost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePostResponse">
    <wsdl:part element="tns:updatePostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllUsers">
    <wsdl:part element="tns:getAllUsers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUser">
    <wsdl:part element="tns:updateUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CCWwebservice">
    <wsdl:operation name="getAllComments">
      <wsdl:input message="tns:getAllComments" name="getAllComments">
    </wsdl:input>
      <wsdl:output message="tns:getAllCommentsResponse" name="getAllCommentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publishPost">
      <wsdl:input message="tns:publishPost" name="publishPost">
    </wsdl:input>
      <wsdl:output message="tns:publishPostResponse" name="publishPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUnpublishedPosts">
      <wsdl:input message="tns:getAllUnpublishedPosts" name="getAllUnpublishedPosts">
    </wsdl:input>
      <wsdl:output message="tns:getAllUnpublishedPostsResponse" name="getAllUnpublishedPostsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPublishedPosts">
      <wsdl:input message="tns:getAllPublishedPosts" name="getAllPublishedPosts">
    </wsdl:input>
      <wsdl:output message="tns:getAllPublishedPostsResponse" name="getAllPublishedPostsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePost">
      <wsdl:input message="tns:updatePost" name="updatePost">
    </wsdl:input>
      <wsdl:output message="tns:updatePostResponse" name="updatePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPost">
      <wsdl:input message="tns:getPost" name="getPost">
    </wsdl:input>
      <wsdl:output message="tns:getPostResponse" name="getPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input message="tns:deleteUser" name="deleteUser">
    </wsdl:input>
      <wsdl:output message="tns:deleteUserResponse" name="deleteUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:input message="tns:createUser" name="createUser">
    </wsdl:input>
      <wsdl:output message="tns:createUserResponse" name="createUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDeletedPosts">
      <wsdl:input message="tns:getAllDeletedPosts" name="getAllDeletedPosts">
    </wsdl:input>
      <wsdl:output message="tns:getAllDeletedPostsResponse" name="getAllDeletedPostsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUser" name="getUser">
    </wsdl:input>
      <wsdl:output message="tns:getUserResponse" name="getUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPost">
      <wsdl:input message="tns:createPost" name="createPost">
    </wsdl:input>
      <wsdl:output message="tns:createPostResponse" name="createPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restorePost">
      <wsdl:input message="tns:restorePost" name="restorePost">
    </wsdl:input>
      <wsdl:output message="tns:restorePostResponse" name="restorePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input message="tns:getAllUsers" name="getAllUsers">
    </wsdl:input>
      <wsdl:output message="tns:getAllUsersResponse" name="getAllUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <wsdl:input message="tns:deletePost" name="deletePost">
    </wsdl:input>
      <wsdl:output message="tns:deletePostResponse" name="deletePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchPost">
      <wsdl:input message="tns:searchPost" name="searchPost">
    </wsdl:input>
      <wsdl:output message="tns:searchPostResponse" name="searchPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createComment">
      <wsdl:input message="tns:createComment" name="createComment">
    </wsdl:input>
      <wsdl:output message="tns:createCommentResponse" name="createCommentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input message="tns:updateUser" name="updateUser">
    </wsdl:input>
      <wsdl:output message="tns:updateUserResponse" name="updateUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CCWwebserviceServiceSoapBinding" type="tns:CCWwebservice">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllComments">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllComments">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllCommentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publishPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="publishPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="publishPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUnpublishedPosts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllUnpublishedPosts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllUnpublishedPostsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPublishedPosts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllPublishedPosts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllPublishedPostsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updatePost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDeletedPosts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllDeletedPosts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllDeletedPostsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restorePost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="restorePost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="restorePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletePost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createComment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createComment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createCommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCWwebserviceService">
    <wsdl:port binding="tns:CCWwebserviceServiceSoapBinding" name="CCWwebservicePort">
      <soap:address location="http://boiling-woodland-6522.herokuapp.com/CCWwebservice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>