Consumer/api.php.wsdl

<wsdl:definitions xmlns:tns="http://simpleblogdarieza.herokuapp.com/" targetNamespace="http://simpleblogdarieza.herokuapp.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <s:schema targetNamespace="http://simpleblogdarieza.herokuapp.com/">
            <s:complexType name="PostType">
                <s:annotation>
                    <s:documentation>
                        PostType
                    </s:documentation>
                </s:annotation>
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" nillable="false" name="id" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" nillable="false" name="judul" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" nillable="false" name="konten" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" nillable="false" name="tanggal" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" nillable="false" name="isPublished" type="s:boolean"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="post_newSoapIn">
        <wsdl:part name="user" type="s:string"/>
        <wsdl:part name="title" type="s:string"/>
        <wsdl:part name="date" type="s:string"/>
        <wsdl:part name="content" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="post_newSoapOut">
        <wsdl:part name="return" type="s:boolean">
            <s:documentation>
                true is success
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="post_listSoapIn"/>
    <wsdl:message name="post_listSoapOut">
        <wsdl:part name="return" type="tns:PostTypeArray"/>
    </wsdl:message>
    <wsdl:message name="post_viewSoapIn">
        <wsdl:part name="postid" type="s:int"/>
    </wsdl:message>
    <wsdl:message name="post_viewSoapOut">
        <wsdl:part name="return" type="tns:PostType"/>
    </wsdl:message>
    <wsdl:message name="post_publishSoapIn">
        <wsdl:part name="postid" type="s:int"/>
    </wsdl:message>
    <wsdl:message name="post_publishSoapOut">
        <wsdl:part name="return" type="s:boolean">
            <s:documentation>
                true is success
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="post_editSoapIn">
        <wsdl:part name="postid" type="s:int"/>
        <wsdl:part name="user" type="s:string"/>
        <wsdl:part name="title" type="s:string"/>
        <wsdl:part name="date" type="s:string"/>
        <wsdl:part name="content" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="post_editSoapOut">
        <wsdl:part name="return" type="s:boolean">
            <s:documentation>
                true is success
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="post_delSoapIn">
        <wsdl:part name="postid" type="s:int"/>
    </wsdl:message>
    <wsdl:message name="post_delSoapOut">
        <wsdl:part name="return" type="s:boolean">
            <s:documentation>
                true is success
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="comment_addSoapIn">
        <wsdl:part name="postid" type="s:int"/>
        <wsdl:part name="message" type="s:string"/>
        <wsdl:part name="author" type="s:string"/>
        <wsdl:part name="date" type="s:string"/>
        <wsdl:part name="content" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="comment_addSoapOut">
        <wsdl:part name="return" type="s:boolean">
            <s:documentation>
                true is success
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="comment_deleteSoapIn">
        <wsdl:part name="commentid" type="s:int"/>
    </wsdl:message>
    <wsdl:message name="comment_deleteSoapOut">
        <wsdl:part name="return" type="s:boolean">
            <s:documentation>
                true is success
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="user_loginSoapIn">
        <wsdl:part name="username" type="s:string"/>
        <wsdl:part name="pass" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="user_loginSoapOut">
        <wsdl:part name="return" type="s:boolean">
            <s:documentation>
                true is success
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="user_addSoapIn">
        <wsdl:part name="username" type="s:string"/>
        <wsdl:part name="pass" type="s:string"/>
        <wsdl:part name="role" type="s:int"/>
    </wsdl:message>
    <wsdl:message name="user_addSoapOut">
        <wsdl:part name="return" type="s:boolean">
            <s:documentation>
                true is success
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="user_deleteSoapIn">
        <wsdl:part name="username" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="user_deleteSoapOut">
        <wsdl:part name="return" type="s:boolean">
            <s:documentation>
                true is success
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="user_editSoapIn">
        <wsdl:part name="username" type="s:string"/>
        <wsdl:part name="role" type="s:int"/>
    </wsdl:message>
    <wsdl:message name="user_editSoapOut">
        <wsdl:part name="return" type="s:boolean">
            <s:documentation>
                true is success
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchSoapIn">
        <wsdl:part name="query" type="s:string">
            <s:documentation>
                the string to be searched for in title and content
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchSoapOut">
        <wsdl:part name="return" type="tns:PostTypeArray"/>
    </wsdl:message>
    <wsdl:portType name="SimpleBlogSoapSoap">
        <wsdl:operation name="post_new" parameterOrder="user title date content">
            <wsdl:documentation>
                New Post
            </wsdl:documentation>
            <wsdl:input message="tns:post_newSoapIn"/>
            <wsdl:output message="tns:post_newSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="post_list">
            <wsdl:documentation>
                List Post
            </wsdl:documentation>
            <wsdl:input message="tns:post_listSoapIn"/>
            <wsdl:output message="tns:post_listSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="post_view">
            <wsdl:documentation>
                View Post
            </wsdl:documentation>
            <wsdl:input message="tns:post_viewSoapIn"/>
            <wsdl:output message="tns:post_viewSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="post_publish">
            <wsdl:documentation>
                Publish Post
            </wsdl:documentation>
            <wsdl:input message="tns:post_publishSoapIn"/>
            <wsdl:output message="tns:post_publishSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="post_edit" parameterOrder="postid user title date content">
            <wsdl:documentation>
                Edit Post
            </wsdl:documentation>
            <wsdl:input message="tns:post_editSoapIn"/>
            <wsdl:output message="tns:post_editSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="post_del">
            <wsdl:documentation>
                Dekete Post
            </wsdl:documentation>
            <wsdl:input message="tns:post_delSoapIn"/>
            <wsdl:output message="tns:post_delSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="comment_add" parameterOrder="postid message author date content">
            <wsdl:documentation>
                New Comment
            </wsdl:documentation>
            <wsdl:input message="tns:comment_addSoapIn"/>
            <wsdl:output message="tns:comment_addSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="comment_delete">
            <wsdl:documentation>
                Dekete Post
            </wsdl:documentation>
            <wsdl:input message="tns:comment_deleteSoapIn"/>
            <wsdl:output message="tns:comment_deleteSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="user_login" parameterOrder="username pass">
            <wsdl:documentation>
                User Login
            </wsdl:documentation>
            <wsdl:input message="tns:user_loginSoapIn"/>
            <wsdl:output message="tns:user_loginSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="user_add" parameterOrder="username pass role">
            <wsdl:documentation>
                Add user
            </wsdl:documentation>
            <wsdl:input message="tns:user_addSoapIn"/>
            <wsdl:output message="tns:user_addSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="user_delete">
            <wsdl:documentation>
                Delete User
            </wsdl:documentation>
            <wsdl:input message="tns:user_deleteSoapIn"/>
            <wsdl:output message="tns:user_deleteSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="user_edit" parameterOrder="username role">
            <wsdl:documentation>
                Edit user role
            </wsdl:documentation>
            <wsdl:input message="tns:user_editSoapIn"/>
            <wsdl:output message="tns:user_editSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="search">
            <wsdl:documentation>
                Search
            </wsdl:documentation>
            <wsdl:input message="tns:searchSoapIn"/>
            <wsdl:output message="tns:searchSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SimpleBlogSoapSoap" type="tns:SimpleBlogSoapSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <wsdl:operation name="post_new">
            <soap:operation soapAction="http://simpleblogdarieza.herokuapp.com/post_new"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="user title date content"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="return"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="post_list">
            <soap:operation soapAction="http://simpleblogdarieza.herokuapp.com/post_list"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="return"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="post_view">
            <soap:operation soapAction="http://simpleblogdarieza.herokuapp.com/post_view"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="postid"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="return"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="post_publish">
            <soap:operation soapAction="http://simpleblogdarieza.herokuapp.com/post_publish"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="postid"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="return"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="post_edit">
            <soap:operation soapAction="http://simpleblogdarieza.herokuapp.com/post_edit"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="postid user title date content"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="return"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="post_del">
            <soap:operation soapAction="http://simpleblogdarieza.herokuapp.com/post_del"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="postid"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="return"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="comment_add">
            <soap:operation soapAction="http://simpleblogdarieza.herokuapp.com/comment_add"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="postid message author date content"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="return"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="comment_delete">
            <soap:operation soapAction="http://simpleblogdarieza.herokuapp.com/comment_delete"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="commentid"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="return"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="user_login">
            <soap:operation soapAction="http://simpleblogdarieza.herokuapp.com/user_login"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="username pass"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="return"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="user_add">
            <soap:operation soapAction="http://simpleblogdarieza.herokuapp.com/user_add"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="username pass role"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="return"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="user_delete">
            <soap:operation soapAction="http://simpleblogdarieza.herokuapp.com/user_delete"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="username"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="return"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="user_edit">
            <soap:operation soapAction="http://simpleblogdarieza.herokuapp.com/user_edit"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="username role"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="return"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="search">
            <soap:operation soapAction="http://simpleblogdarieza.herokuapp.com/search"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="query"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpleblogdarieza.herokuapp.com/" parts="return"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SimpleBlogSoap">
        <wsdl:port name="SimpleBlogSoapSoap" binding="tns:SimpleBlogSoapSoap">
            <soap:address location="http://simpleblogdarieza.herokuapp.com/api.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>