web/WEB-INF/wsdl/calm-chamber-9995.herokuapp.com/HelloService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ControllerImplement" targetNamespace="http://service/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://service/" version="1.0" xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="addComment" type="tns:addComment"/>
<xs:element name="addCommentResponse" type="tns:addCommentResponse"/>
<xs:element name="addPost" type="tns:addPost"/>
<xs:element name="addPostResponse" type="tns:addPostResponse"/>
<xs:element name="addUser" type="tns:addUser"/>
<xs:element name="addUserResponse" type="tns:addUserResponse"/>
<xs:element name="deletePost" type="tns:deletePost"/>
<xs:element name="deletePostResponse" type="tns:deletePostResponse"/>
<xs:element name="deleteUser" type="tns:deleteUser"/>
<xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>
<xs:element name="editPost" type="tns:editPost"/>
<xs:element name="editPostResponse" type="tns:editPostResponse"/>
<xs:element name="editUser" type="tns:editUser"/>
<xs:element name="editUserResponse" type="tns:editUserResponse"/>
<xs:element name="load" type="tns:load"/>
<xs:element name="loadComment" type="tns:loadComment"/>
<xs:element name="loadCommentResponse" type="tns:loadCommentResponse"/>
<xs:element name="loadDeletedPost" type="tns:loadDeletedPost"/>
<xs:element name="loadDeletedPostResponse" type="tns:loadDeletedPostResponse"/>
<xs:element name="loadPost" type="tns:loadPost"/>
<xs:element name="loadPostResponse" type="tns:loadPostResponse"/>
<xs:element name="loadPublishedPost" type="tns:loadPublishedPost"/>
<xs:element name="loadPublishedPostResponse" type="tns:loadPublishedPostResponse"/>
<xs:element name="loadResponse" type="tns:loadResponse"/>
<xs:element name="loadUnpublishedPost" type="tns:loadUnpublishedPost"/>
<xs:element name="loadUnpublishedPostResponse" type="tns:loadUnpublishedPostResponse"/>
<xs:element name="loadUser" type="tns:loadUser"/>
<xs:element name="loadUserResponse" type="tns:loadUserResponse"/>
<xs:element name="publishPost" type="tns:publishPost"/>
<xs:element name="publishPostResponse" type="tns:publishPostResponse"/>
<xs:element name="restorePost" type="tns:restorePost"/>
<xs:element name="restorePostResponse" type="tns:restorePostResponse"/>
<xs:element name="searchPost" type="tns:searchPost"/>
<xs:element name="searchPostResponse" type="tns:searchPostResponse"/>
<xs:complexType name="addUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="restorePost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="restorePostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="loadUnpublishedPost">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="loadUnpublishedPostResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:post"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="post">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="judul" type="xs:string"/>
      <xs:element minOccurs="0" name="konten" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="tanggal" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deletePost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deletePostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchPostResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:post"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="loadComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="postid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="loadCommentResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:comment"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="komentar" type="xs:string"/>
      <xs:element minOccurs="0" name="nama" type="xs:string"/>
      <xs:element minOccurs="0" name="postid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="judul" type="xs:string"/>
      <xs:element minOccurs="0" name="tanggal" type="xs:string"/>
      <xs:element minOccurs="0" name="konten" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addPostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="editUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="editUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="load">
    <xs:sequence>
      <xs:element minOccurs="0" name="urlstring" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="loadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="loadDeletedPost">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="loadDeletedPostResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:post"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="publishPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="publishPostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="loadPublishedPost">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="loadPublishedPostResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:post"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="loadUser">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="loadUserResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="editPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="judul" type="xs:string"/>
      <xs:element minOccurs="0" name="tanggal" type="xs:string"/>
      <xs:element minOccurs="0" name="konten" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="editPostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="postid" type="xs:string"/>
      <xs:element minOccurs="0" name="nama" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="komentar" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addCommentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="loadPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="loadPostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:post"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="restorePost">
    <wsdl:part element="tns:restorePost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadPostResponse">
    <wsdl:part element="tns:loadPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCommentResponse">
    <wsdl:part element="tns:addCommentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadCommentResponse">
    <wsdl:part element="tns:loadCommentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadUnpublishedPostResponse">
    <wsdl:part element="tns:loadUnpublishedPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPost">
    <wsdl:part element="tns:addPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadPublishedPostResponse">
    <wsdl:part element="tns:loadPublishedPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadPublishedPost">
    <wsdl:part element="tns:loadPublishedPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPostResponse">
    <wsdl:part element="tns:addPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editPost">
    <wsdl:part element="tns:editPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part element="tns:deleteUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadResponse">
    <wsdl:part element="tns:loadResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editPostResponse">
    <wsdl:part element="tns:editPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part element="tns:deleteUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePostResponse">
    <wsdl:part element="tns:deletePostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser">
    <wsdl:part element="tns:addUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restorePostResponse">
    <wsdl:part element="tns:restorePostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editUserResponse">
    <wsdl:part element="tns:editUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadUnpublishedPost">
    <wsdl:part element="tns:loadUnpublishedPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadDeletedPostResponse">
    <wsdl:part element="tns:loadDeletedPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePost">
    <wsdl:part element="tns:deletePost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchPost">
    <wsdl:part element="tns:searchPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchPostResponse">
    <wsdl:part element="tns:searchPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadComment">
    <wsdl:part element="tns:loadComment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editUser">
    <wsdl:part element="tns:editUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="load">
    <wsdl:part element="tns:load" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadDeletedPost">
    <wsdl:part element="tns:loadDeletedPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="publishPost">
    <wsdl:part element="tns:publishPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadUser">
    <wsdl:part element="tns:loadUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadUserResponse">
    <wsdl:part element="tns:loadUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="publishPostResponse">
    <wsdl:part element="tns:publishPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addComment">
    <wsdl:part element="tns:addComment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part element="tns:addUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadPost">
    <wsdl:part element="tns:loadPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ControllerImplement">
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUser" name="addUser">
    </wsdl:input>
      <wsdl:output message="tns:addUserResponse" name="addUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restorePost">
      <wsdl:input message="tns:restorePost" name="restorePost">
    </wsdl:input>
      <wsdl:output message="tns:restorePostResponse" name="restorePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadUnpublishedPost">
      <wsdl:input message="tns:loadUnpublishedPost" name="loadUnpublishedPost">
    </wsdl:input>
      <wsdl:output message="tns:loadUnpublishedPostResponse" name="loadUnpublishedPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <wsdl:input message="tns:deletePost" name="deletePost">
    </wsdl:input>
      <wsdl:output message="tns:deletePostResponse" name="deletePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchPost">
      <wsdl:input message="tns:searchPost" name="searchPost">
    </wsdl:input>
      <wsdl:output message="tns:searchPostResponse" name="searchPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadComment">
      <wsdl:input message="tns:loadComment" name="loadComment">
    </wsdl:input>
      <wsdl:output message="tns:loadCommentResponse" name="loadCommentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <wsdl:input message="tns:addPost" name="addPost">
    </wsdl:input>
      <wsdl:output message="tns:addPostResponse" name="addPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <wsdl:input message="tns:editUser" name="editUser">
    </wsdl:input>
      <wsdl:output message="tns:editUserResponse" name="editUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="load">
      <wsdl:input message="tns:load" name="load">
    </wsdl:input>
      <wsdl:output message="tns:loadResponse" name="loadResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadDeletedPost">
      <wsdl:input message="tns:loadDeletedPost" name="loadDeletedPost">
    </wsdl:input>
      <wsdl:output message="tns:loadDeletedPostResponse" name="loadDeletedPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publishPost">
      <wsdl:input message="tns:publishPost" name="publishPost">
    </wsdl:input>
      <wsdl:output message="tns:publishPostResponse" name="publishPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadPublishedPost">
      <wsdl:input message="tns:loadPublishedPost" name="loadPublishedPost">
    </wsdl:input>
      <wsdl:output message="tns:loadPublishedPostResponse" name="loadPublishedPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadUser">
      <wsdl:input message="tns:loadUser" name="loadUser">
    </wsdl:input>
      <wsdl:output message="tns:loadUserResponse" name="loadUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPost">
      <wsdl:input message="tns:editPost" name="editPost">
    </wsdl:input>
      <wsdl:output message="tns:editPostResponse" name="editPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <wsdl:input message="tns:addComment" name="addComment">
    </wsdl:input>
      <wsdl:output message="tns:addCommentResponse" name="addCommentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadPost">
      <wsdl:input message="tns:loadPost" name="loadPost">
    </wsdl:input>
      <wsdl:output message="tns:loadPostResponse" name="loadPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input message="tns:deleteUser" name="deleteUser">
    </wsdl:input>
      <wsdl:output message="tns:deleteUserResponse" name="deleteUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ControllerImplementSoapBinding" type="tns:ControllerImplement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restorePost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="restorePost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="restorePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadUnpublishedPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="loadUnpublishedPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loadUnpublishedPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletePost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadComment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="loadComment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loadCommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="editUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="editUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="load">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="load">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadDeletedPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="loadDeletedPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loadDeletedPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publishPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="publishPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="publishPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadPublishedPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="loadPublishedPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loadPublishedPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="loadUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loadUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="editPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="editPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addComment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addCommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="loadPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loadPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControllerImplement">
    <wsdl:port binding="tns:ControllerImplementSoapBinding" name="ControllerImplementPort">
      <soap:address location="http://calm-chamber-9995.herokuapp.com/HelloService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>