ServerService/src/conf/xml-resources/web-service-references/simpleblogws/wsdl/localhost_8080/EngineWEB/simpleblogws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://simpleblog/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="http://simpleblog/" name="simpleblogws">
  <wsp:Policy wsu:Id="simpleblogwsPortBindingPolicy" />
  <types>
    <xsd:schema>
      <xsd:import namespace="http://simpleblog/" schemaLocation="http://localhost:8080/EngineWEB/simpleblogws?xsd=1" />
    </xsd:schema>
  </types>
  <message name="search">
    <part name="parameters" element="tns:search" />
  </message>
  <message name="searchResponse">
    <part name="parameters" element="tns:searchResponse" />
  </message>
  <message name="addPost">
    <part name="parameters" element="tns:addPost" />
  </message>
  <message name="addPostResponse">
    <part name="parameters" element="tns:addPostResponse" />
  </message>
  <message name="listPost">
    <part name="parameters" element="tns:listPost" />
  </message>
  <message name="listPostResponse">
    <part name="parameters" element="tns:listPostResponse" />
  </message>
  <message name="editPost">
    <part name="parameters" element="tns:editPost" />
  </message>
  <message name="editPostResponse">
    <part name="parameters" element="tns:editPostResponse" />
  </message>
  <message name="deletePost">
    <part name="parameters" element="tns:deletePost" />
  </message>
  <message name="deletePostResponse">
    <part name="parameters" element="tns:deletePostResponse" />
  </message>
  <message name="publishPost">
    <part name="parameters" element="tns:publishPost" />
  </message>
  <message name="publishPostResponse">
    <part name="parameters" element="tns:publishPostResponse" />
  </message>
  <message name="listUser">
    <part name="parameters" element="tns:listUser" />
  </message>
  <message name="listUserResponse">
    <part name="parameters" element="tns:listUserResponse" />
  </message>
  <message name="editUser">
    <part name="parameters" element="tns:editUser" />
  </message>
  <message name="editUserResponse">
    <part name="parameters" element="tns:editUserResponse" />
  </message>
  <message name="deleteUser">
    <part name="parameters" element="tns:deleteUser" />
  </message>
  <message name="deleteUserResponse">
    <part name="parameters" element="tns:deleteUserResponse" />
  </message>
  <message name="listComment">
    <part name="parameters" element="tns:listComment" />
  </message>
  <message name="listCommentResponse">
    <part name="parameters" element="tns:listCommentResponse" />
  </message>
  <message name="deleteComment">
    <part name="parameters" element="tns:deleteComment" />
  </message>
  <message name="deleteCommentResponse">
    <part name="parameters" element="tns:deleteCommentResponse" />
  </message>
  <message name="getPost">
    <part name="parameters" element="tns:getPost" />
  </message>
  <message name="getPostResponse">
    <part name="parameters" element="tns:getPostResponse" />
  </message>
  <message name="addUser">
    <part name="parameters" element="tns:addUser" />
  </message>
  <message name="addUserResponse">
    <part name="parameters" element="tns:addUserResponse" />
  </message>
  <message name="addComment">
    <part name="parameters" element="tns:addComment" />
  </message>
  <message name="addCommentResponse">
    <part name="parameters" element="tns:addCommentResponse" />
  </message>
  <portType name="simpleblogws">
    <operation name="search">
      <input wsam:Action="http://simpleblog/simpleblogws/searchRequest" message="tns:search" />
      <output wsam:Action="http://simpleblog/simpleblogws/searchResponse" message="tns:searchResponse" />
    </operation>
    <operation name="addPost">
      <input wsam:Action="http://simpleblog/simpleblogws/addPostRequest" message="tns:addPost" />
      <output wsam:Action="http://simpleblog/simpleblogws/addPostResponse" message="tns:addPostResponse" />
    </operation>
    <operation name="listPost">
      <input wsam:Action="http://simpleblog/simpleblogws/listPostRequest" message="tns:listPost" />
      <output wsam:Action="http://simpleblog/simpleblogws/listPostResponse" message="tns:listPostResponse" />
    </operation>
    <operation name="editPost">
      <input wsam:Action="http://simpleblog/simpleblogws/editPostRequest" message="tns:editPost" />
      <output wsam:Action="http://simpleblog/simpleblogws/editPostResponse" message="tns:editPostResponse" />
    </operation>
    <operation name="deletePost">
      <input wsam:Action="http://simpleblog/simpleblogws/deletePostRequest" message="tns:deletePost" />
      <output wsam:Action="http://simpleblog/simpleblogws/deletePostResponse" message="tns:deletePostResponse" />
    </operation>
    <operation name="publishPost">
      <input wsam:Action="http://simpleblog/simpleblogws/publishPostRequest" message="tns:publishPost" />
      <output wsam:Action="http://simpleblog/simpleblogws/publishPostResponse" message="tns:publishPostResponse" />
    </operation>
    <operation name="listUser">
      <input wsam:Action="http://simpleblog/simpleblogws/listUserRequest" message="tns:listUser" />
      <output wsam:Action="http://simpleblog/simpleblogws/listUserResponse" message="tns:listUserResponse" />
    </operation>
    <operation name="editUser">
      <input wsam:Action="http://simpleblog/simpleblogws/editUserRequest" message="tns:editUser" />
      <output wsam:Action="http://simpleblog/simpleblogws/editUserResponse" message="tns:editUserResponse" />
    </operation>
    <operation name="deleteUser">
      <input wsam:Action="http://simpleblog/simpleblogws/deleteUserRequest" message="tns:deleteUser" />
      <output wsam:Action="http://simpleblog/simpleblogws/deleteUserResponse" message="tns:deleteUserResponse" />
    </operation>
    <operation name="listComment">
      <input wsam:Action="http://simpleblog/simpleblogws/listCommentRequest" message="tns:listComment" />
      <output wsam:Action="http://simpleblog/simpleblogws/listCommentResponse" message="tns:listCommentResponse" />
    </operation>
    <operation name="deleteComment">
      <input wsam:Action="http://simpleblog/simpleblogws/deleteCommentRequest" message="tns:deleteComment" />
      <output wsam:Action="http://simpleblog/simpleblogws/deleteCommentResponse" message="tns:deleteCommentResponse" />
    </operation>
    <operation name="getPost">
      <input wsam:Action="http://simpleblog/simpleblogws/getPostRequest" message="tns:getPost" />
      <output wsam:Action="http://simpleblog/simpleblogws/getPostResponse" message="tns:getPostResponse" />
    </operation>
    <operation name="addUser">
      <input wsam:Action="http://simpleblog/simpleblogws/addUserRequest" message="tns:addUser" />
      <output wsam:Action="http://simpleblog/simpleblogws/addUserResponse" message="tns:addUserResponse" />
    </operation>
    <operation name="addComment">
      <input wsam:Action="http://simpleblog/simpleblogws/addCommentRequest" message="tns:addComment" />
      <output wsam:Action="http://simpleblog/simpleblogws/addCommentResponse" message="tns:addCommentResponse" />
    </operation>
  </portType>
  <binding name="simpleblogwsPortBinding" type="tns:simpleblogws">
    <wsp:PolicyReference URI="#simpleblogwsPortBindingPolicy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="search">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addPost">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listPost">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editPost">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deletePost">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="publishPost">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listComment">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteComment">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPost">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addComment">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="simpleblogws">
    <port name="simpleblogwsPort" binding="tns:simpleblogwsPortBinding">
      <soap:address location="http://localhost:8080/EngineWEB/simpleblogws" />
    </port>
  </service>
</definitions>