firebase-ws/src/main/webapp/WEB-INF/wsit-com.mycompany.firebasews.FirebaseWS.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="FirebaseWS" targetNamespace="http://firebasews.mycompany.com/" xmlns:tns="http://firebasews.mycompany.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="addPost"/>
    <message name="addPostResponse"/>
    <message name="deletePost"/>
    <message name="deletePostResponse"/>
    <message name="editPost"/>
    <message name="editPostResponse"/>
    <message name="publishPost"/>
    <message name="publishPostResponse"/>
    <message name="listPost"/>
    <message name="listPostResponse"/>
    <message name="addUser"/>
    <message name="addUserResponse"/>
    <message name="listUser"/>
    <message name="listUserResponse"/>
    <message name="editUser"/>
    <message name="editUserResponse"/>
    <message name="deleteUser"/>
    <message name="deleteUserResponse"/>
    <message name="addComment"/>
    <message name="addCommentResponse"/>
    <message name="listComment"/>
    <message name="listCommentResponse"/>
    <message name="deleteComment"/>
    <message name="deleteCommentResponse"/>
    <message name="search"/>
    <message name="searchResponse"/>
    <portType name="FirebaseWS">
        <operation name="addPost">
            <input message="tns:addPost"/>
            <output message="tns:addPostResponse"/>
        </operation>
        <operation name="deletePost">
            <input message="tns:deletePost"/>
            <output message="tns:deletePostResponse"/>
        </operation>
        <operation name="editPost">
            <input message="tns:editPost"/>
            <output message="tns:editPostResponse"/>
        </operation>
        <operation name="publishPost">
            <input message="tns:publishPost"/>
            <output message="tns:publishPostResponse"/>
        </operation>
        <operation name="listPost">
            <input message="tns:listPost"/>
            <output message="tns:listPostResponse"/>
        </operation>
        <operation name="addUser">
            <input message="tns:addUser"/>
            <output message="tns:addUserResponse"/>
        </operation>
        <operation name="listUser">
            <input message="tns:listUser"/>
            <output message="tns:listUserResponse"/>
        </operation>
        <operation name="editUser">
            <input message="tns:editUser"/>
            <output message="tns:editUserResponse"/>
        </operation>
        <operation name="deleteUser">
            <input message="tns:deleteUser"/>
            <output message="tns:deleteUserResponse"/>
        </operation>
        <operation name="addComment">
            <input message="tns:addComment"/>
            <output message="tns:addCommentResponse"/>
        </operation>
        <operation name="listComment">
            <input message="tns:listComment"/>
            <output message="tns:listCommentResponse"/>
        </operation>
        <operation name="deleteComment">
            <input message="tns:deleteComment"/>
            <output message="tns:deleteCommentResponse"/>
        </operation>
        <operation name="search">
            <input message="tns:search"/>
            <output message="tns:searchResponse"/>
        </operation>
    </portType>
    <binding name="FirebaseWSPortBinding" type="tns:FirebaseWS">
        <wsp:PolicyReference URI="#FirebaseWSPortBindingPolicy"/>
        <operation name="addPost">
            <input></input>
            <output></output>
        </operation>
        <operation name="deletePost">
            <input></input>
            <output></output>
        </operation>
        <operation name="editPost">
            <input></input>
            <output></output>
        </operation>
        <operation name="publishPost">
            <input></input>
            <output></output>
        </operation>
        <operation name="listPost">
            <input></input>
            <output></output>
        </operation>
        <operation name="addUser">
            <input></input>
            <output></output>
        </operation>
        <operation name="listUser">
            <input></input>
            <output></output>
        </operation>
        <operation name="editUser">
            <input></input>
            <output></output>
        </operation>
        <operation name="deleteUser">
            <input></input>
            <output></output>
        </operation>
        <operation name="addComment">
            <input></input>
            <output></output>
        </operation>
        <operation name="listComment">
            <input></input>
            <output></output>
        </operation>
        <operation name="deleteComment">
            <input></input>
            <output></output>
        </operation>
        <operation name="search">
            <input></input>
            <output></output>
        </operation>
    </binding>
    <service name="FirebaseWS">
        <port name="FirebaseWSPort" binding="tns:FirebaseWSPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="FirebaseWSPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing wsp:Optional="false"/>
                <sp:TransportBinding>
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:Wss10/>
                <sp:SignedEncryptedSupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedEncryptedSupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
