Client/web/WEB-INF/wsdl/radiant-coast-5679.herokuapp.com/TestService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="TestService" targetNamespace="http://mavenproject1.undeclared/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mavenproject1.undeclared/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://mavenproject1.undeclared/" version="1.0" xmlns:tns="http://mavenproject1.undeclared/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="addComment" type="tns:addComment"/>
<xs:element name="addCommentResponse" type="tns:addCommentResponse"/>
<xs:element name="addPost" type="tns:addPost"/>
<xs:element name="addPostResponse" type="tns:addPostResponse"/>
<xs:element name="addUser" type="tns:addUser"/>
<xs:element name="addUserResponse" type="tns:addUserResponse"/>
<xs:element name="deleteComment" type="tns:deleteComment"/>
<xs:element name="deleteCommentResponse" type="tns:deleteCommentResponse"/>
<xs:element name="deletePost" type="tns:deletePost"/>
<xs:element name="deletePostResponse" type="tns:deletePostResponse"/>
<xs:element name="deleteUser" type="tns:deleteUser"/>
<xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>
<xs:element name="editPost" type="tns:editPost"/>
<xs:element name="editPostResponse" type="tns:editPostResponse"/>
<xs:element name="editUser" type="tns:editUser"/>
<xs:element name="editUserResponse" type="tns:editUserResponse"/>
<xs:element name="listComment" type="tns:listComment"/>
<xs:element name="listCommentResponse" type="tns:listCommentResponse"/>
<xs:element name="listDeletePost" type="tns:listDeletePost"/>
<xs:element name="listDeletePostResponse" type="tns:listDeletePostResponse"/>
<xs:element name="listPost" type="tns:listPost"/>
<xs:element name="listPostResponse" type="tns:listPostResponse"/>
<xs:element name="listPublishPost" type="tns:listPublishPost"/>
<xs:element name="listPublishPostResponse" type="tns:listPublishPostResponse"/>
<xs:element name="listUser" type="tns:listUser"/>
<xs:element name="listUserResponse" type="tns:listUserResponse"/>
<xs:element name="publishPost" type="tns:publishPost"/>
<xs:element name="publishPostResponse" type="tns:publishPostResponse"/>
<xs:element name="readUrl" type="tns:readUrl"/>
<xs:element name="readUrlResponse" type="tns:readUrlResponse"/>
<xs:element name="restorePost" type="tns:restorePost"/>
<xs:element name="restorePostResponse" type="tns:restorePostResponse"/>
<xs:element name="search" type="tns:search"/>
<xs:element name="searchResponse" type="tns:searchResponse"/>
<xs:complexType name="editUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="nama" type="xs:string"/>
      <xs:element name="role" type="xs:int"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="editUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="judul" type="xs:string"/>
      <xs:element minOccurs="0" name="konten" type="xs:string"/>
      <xs:element minOccurs="0" name="tanggal" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addPostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addComment">
    <xs:sequence>
      <xs:element name="post_id" type="xs:int"/>
      <xs:element minOccurs="0" name="nama" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addCommentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="nama" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listUser">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="listUserResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="user">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="role" type="xs:int"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="restorePost">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="restorePostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="editPost">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="judul" type="xs:string"/>
      <xs:element minOccurs="0" name="konten" type="xs:string"/>
      <xs:element minOccurs="0" name="tanggal" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="editPostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="search">
    <xs:sequence>
      <xs:element minOccurs="0" name="query" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:post"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="post">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
      <xs:element minOccurs="0" name="date" type="xs:string"/>
      <xs:element name="published" type="xs:boolean"/>
      <xs:element name="deleted" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="readUrl">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="readUrlResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listDeletePost">
    <xs:sequence>
      <xs:element name="deleted" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listDeletePostResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:post"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteComment">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteCommentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listPost">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="listPostResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:post"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="nama" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="role" type="xs:int"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listPublishPost">
    <xs:sequence>
      <xs:element name="published" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listPublishPostResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:post"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listComment">
    <xs:sequence>
      <xs:element name="postId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listCommentResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:comment"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="comment">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="postId" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="date" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deletePost">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deletePostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="publishPost">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="publishPostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addComment">
    <wsdl:part element="tns:addComment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCommentResponse">
    <wsdl:part element="tns:deleteCommentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part element="tns:search" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="publishPostResponse">
    <wsdl:part element="tns:publishPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editUserResponse">
    <wsdl:part element="tns:editUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part element="tns:deleteUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPost">
    <wsdl:part element="tns:addPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listDeletePostResponse">
    <wsdl:part element="tns:listDeletePostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restorePostResponse">
    <wsdl:part element="tns:restorePostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listPublishPostResponse">
    <wsdl:part element="tns:listPublishPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editPost">
    <wsdl:part element="tns:editPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listPost">
    <wsdl:part element="tns:listPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listPublishPost">
    <wsdl:part element="tns:listPublishPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part element="tns:addUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="publishPost">
    <wsdl:part element="tns:publishPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listComment">
    <wsdl:part element="tns:listComment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listUser">
    <wsdl:part element="tns:listUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePostResponse">
    <wsdl:part element="tns:deletePostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listPostResponse">
    <wsdl:part element="tns:listPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser">
    <wsdl:part element="tns:addUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editPostResponse">
    <wsdl:part element="tns:editPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readUrl">
    <wsdl:part element="tns:readUrl" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part element="tns:deleteUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readUrlResponse">
    <wsdl:part element="tns:readUrlResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCommentResponse">
    <wsdl:part element="tns:addCommentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listUserResponse">
    <wsdl:part element="tns:listUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteComment">
    <wsdl:part element="tns:deleteComment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part element="tns:searchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restorePost">
    <wsdl:part element="tns:restorePost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPostResponse">
    <wsdl:part element="tns:addPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editUser">
    <wsdl:part element="tns:editUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listCommentResponse">
    <wsdl:part element="tns:listCommentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listDeletePost">
    <wsdl:part element="tns:listDeletePost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePost">
    <wsdl:part element="tns:deletePost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestService">
    <wsdl:operation name="editUser">
      <wsdl:input message="tns:editUser" name="editUser">
    </wsdl:input>
      <wsdl:output message="tns:editUserResponse" name="editUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <wsdl:input message="tns:addPost" name="addPost">
    </wsdl:input>
      <wsdl:output message="tns:addPostResponse" name="addPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <wsdl:input message="tns:addComment" name="addComment">
    </wsdl:input>
      <wsdl:output message="tns:addCommentResponse" name="addCommentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input message="tns:deleteUser" name="deleteUser">
    </wsdl:input>
      <wsdl:output message="tns:deleteUserResponse" name="deleteUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listUser">
      <wsdl:input message="tns:listUser" name="listUser">
    </wsdl:input>
      <wsdl:output message="tns:listUserResponse" name="listUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restorePost">
      <wsdl:input message="tns:restorePost" name="restorePost">
    </wsdl:input>
      <wsdl:output message="tns:restorePostResponse" name="restorePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPost">
      <wsdl:input message="tns:editPost" name="editPost">
    </wsdl:input>
      <wsdl:output message="tns:editPostResponse" name="editPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input message="tns:search" name="search">
    </wsdl:input>
      <wsdl:output message="tns:searchResponse" name="searchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readUrl">
      <wsdl:input message="tns:readUrl" name="readUrl">
    </wsdl:input>
      <wsdl:output message="tns:readUrlResponse" name="readUrlResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listDeletePost">
      <wsdl:input message="tns:listDeletePost" name="listDeletePost">
    </wsdl:input>
      <wsdl:output message="tns:listDeletePostResponse" name="listDeletePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComment">
      <wsdl:input message="tns:deleteComment" name="deleteComment">
    </wsdl:input>
      <wsdl:output message="tns:deleteCommentResponse" name="deleteCommentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listPost">
      <wsdl:input message="tns:listPost" name="listPost">
    </wsdl:input>
      <wsdl:output message="tns:listPostResponse" name="listPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUser" name="addUser">
    </wsdl:input>
      <wsdl:output message="tns:addUserResponse" name="addUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listPublishPost">
      <wsdl:input message="tns:listPublishPost" name="listPublishPost">
    </wsdl:input>
      <wsdl:output message="tns:listPublishPostResponse" name="listPublishPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listComment">
      <wsdl:input message="tns:listComment" name="listComment">
    </wsdl:input>
      <wsdl:output message="tns:listCommentResponse" name="listCommentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <wsdl:input message="tns:deletePost" name="deletePost">
    </wsdl:input>
      <wsdl:output message="tns:deletePostResponse" name="deletePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publishPost">
      <wsdl:input message="tns:publishPost" name="publishPost">
    </wsdl:input>
      <wsdl:output message="tns:publishPostResponse" name="publishPostResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestServiceSoapBinding" type="tns:TestService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addComment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addComment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addCommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="editUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="editUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restorePost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="restorePost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="restorePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="editPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="editPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="search">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listDeletePost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listDeletePost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listDeletePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readUrl">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="readUrl">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="readUrlResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteComment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteCommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listPublishPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listPublishPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listPublishPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listComment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listComment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listCommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletePost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publishPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="publishPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="publishPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestService">
    <wsdl:port binding="tns:TestServiceSoapBinding" name="TestServicePort">
      <soap:address location="http://radiant-coast-5679.herokuapp.com/TestService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>