SimpleBlog/web/WEB-INF/wsdl/localhost_8080/SimpleBlogService/SimpleBlogService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="SimpleBlogService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/SimpleBlogService/SimpleBlogService?xsd=1"/>
</xsd:schema>
</types>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="listComment">
<part name="parameters" element="tns:listComment"/>
</message>
<message name="listCommentResponse">
<part name="parameters" element="tns:listCommentResponse"/>
</message>
<message name="editPost">
<part name="parameters" element="tns:editPost"/>
</message>
<message name="editPostResponse">
<part name="parameters" element="tns:editPostResponse"/>
</message>
<message name="editUser">
<part name="parameters" element="tns:editUser"/>
</message>
<message name="editUserResponse">
<part name="parameters" element="tns:editUserResponse"/>
</message>
<message name="listPost">
<part name="parameters" element="tns:listPost"/>
</message>
<message name="listPostResponse">
<part name="parameters" element="tns:listPostResponse"/>
</message>
<message name="publishPost">
<part name="parameters" element="tns:publishPost"/>
</message>
<message name="publishPostResponse">
<part name="parameters" element="tns:publishPostResponse"/>
</message>
<message name="restorePost">
<part name="parameters" element="tns:restorePost"/>
</message>
<message name="restorePostResponse">
<part name="parameters" element="tns:restorePostResponse"/>
</message>
<message name="listUser">
<part name="parameters" element="tns:listUser"/>
</message>
<message name="listUserResponse">
<part name="parameters" element="tns:listUserResponse"/>
</message>
<message name="addComment">
<part name="parameters" element="tns:addComment"/>
</message>
<message name="addCommentResponse">
<part name="parameters" element="tns:addCommentResponse"/>
</message>
<message name="addPost">
<part name="parameters" element="tns:addPost"/>
</message>
<message name="addPostResponse">
<part name="parameters" element="tns:addPostResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="deletePost">
<part name="parameters" element="tns:deletePost"/>
</message>
<message name="deletePostResponse">
<part name="parameters" element="tns:deletePostResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="getPost">
<part name="parameters" element="tns:getPost"/>
</message>
<message name="getPostResponse">
<part name="parameters" element="tns:getPostResponse"/>
</message>
<portType name="SimpleBlogService">
<operation name="search">
<input wsam:Action="http://service/SimpleBlogService/searchRequest" message="tns:search"/>
<output wsam:Action="http://service/SimpleBlogService/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://service/SimpleBlogService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://service/SimpleBlogService/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="listComment">
<input wsam:Action="http://service/SimpleBlogService/listCommentRequest" message="tns:listComment"/>
<output wsam:Action="http://service/SimpleBlogService/listCommentResponse" message="tns:listCommentResponse"/>
</operation>
<operation name="editPost">
<input wsam:Action="http://service/SimpleBlogService/editPostRequest" message="tns:editPost"/>
<output wsam:Action="http://service/SimpleBlogService/editPostResponse" message="tns:editPostResponse"/>
</operation>
<operation name="editUser">
<input wsam:Action="http://service/SimpleBlogService/editUserRequest" message="tns:editUser"/>
<output wsam:Action="http://service/SimpleBlogService/editUserResponse" message="tns:editUserResponse"/>
</operation>
<operation name="listPost">
<input wsam:Action="http://service/SimpleBlogService/listPostRequest" message="tns:listPost"/>
<output wsam:Action="http://service/SimpleBlogService/listPostResponse" message="tns:listPostResponse"/>
</operation>
<operation name="publishPost">
<input wsam:Action="http://service/SimpleBlogService/publishPostRequest" message="tns:publishPost"/>
<output wsam:Action="http://service/SimpleBlogService/publishPostResponse" message="tns:publishPostResponse"/>
</operation>
<operation name="restorePost">
<input wsam:Action="http://service/SimpleBlogService/restorePostRequest" message="tns:restorePost"/>
<output wsam:Action="http://service/SimpleBlogService/restorePostResponse" message="tns:restorePostResponse"/>
</operation>
<operation name="listUser">
<input wsam:Action="http://service/SimpleBlogService/listUserRequest" message="tns:listUser"/>
<output wsam:Action="http://service/SimpleBlogService/listUserResponse" message="tns:listUserResponse"/>
</operation>
<operation name="addComment">
<input wsam:Action="http://service/SimpleBlogService/addCommentRequest" message="tns:addComment"/>
<output wsam:Action="http://service/SimpleBlogService/addCommentResponse" message="tns:addCommentResponse"/>
</operation>
<operation name="addPost">
<input wsam:Action="http://service/SimpleBlogService/addPostRequest" message="tns:addPost"/>
<output wsam:Action="http://service/SimpleBlogService/addPostResponse" message="tns:addPostResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://service/SimpleBlogService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://service/SimpleBlogService/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="deletePost">
<input wsam:Action="http://service/SimpleBlogService/deletePostRequest" message="tns:deletePost"/>
<output wsam:Action="http://service/SimpleBlogService/deletePostResponse" message="tns:deletePostResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://service/SimpleBlogService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://service/SimpleBlogService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="getPost">
<input wsam:Action="http://service/SimpleBlogService/getPostRequest" message="tns:getPost"/>
<output wsam:Action="http://service/SimpleBlogService/getPostResponse" message="tns:getPostResponse"/>
</operation>
</portType>
<binding name="SimpleBlogServicePortBinding" type="tns:SimpleBlogService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="publishPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restorePost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SimpleBlogService">
<port name="SimpleBlogServicePort" binding="tns:SimpleBlogServicePortBinding">
<soap:address location="http://localhost:8080/SimpleBlogService/SimpleBlogService"/>
</port>
</service>
</definitions>