client/src/conf/xml-resources/web-service-references/SimpleBlogService/wsdl/frozen-ocean-5600.herokuapp.com/SimpleBlogService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="SimpleBlogServiceImplementationService" targetNamespace="http://services/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://services/" version="1.0" xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="addComment" type="tns:addComment"/>
<xs:element name="addCommentResponse" type="tns:addCommentResponse"/>
<xs:element name="addPost" type="tns:addPost"/>
<xs:element name="addPostResponse" type="tns:addPostResponse"/>
<xs:element name="addUser" type="tns:addUser"/>
<xs:element name="addUserResponse" type="tns:addUserResponse"/>
<xs:element name="deletePost" type="tns:deletePost"/>
<xs:element name="deletePostResponse" type="tns:deletePostResponse"/>
<xs:element name="getPostById" type="tns:getPostById"/>
<xs:element name="getPostByIdResponse" type="tns:getPostByIdResponse"/>
<xs:element name="getUserById" type="tns:getUserById"/>
<xs:element name="getUserByIdResponse" type="tns:getUserByIdResponse"/>
<xs:element name="getUserByUsername" type="tns:getUserByUsername"/>
<xs:element name="getUserByUsernameResponse" type="tns:getUserByUsernameResponse"/>
<xs:element name="listComment" type="tns:listComment"/>
<xs:element name="listCommentResponse" type="tns:listCommentResponse"/>
<xs:element name="listPost" type="tns:listPost"/>
<xs:element name="listPostResponse" type="tns:listPostResponse"/>
<xs:element name="listUser" type="tns:listUser"/>
<xs:element name="listUserResponse" type="tns:listUserResponse"/>
<xs:element name="modifyUser" type="tns:modifyUser"/>
<xs:element name="modifyUserResponse" type="tns:modifyUserResponse"/>
<xs:element name="permanentDeletePost" type="tns:permanentDeletePost"/>
<xs:element name="permanentDeletePostResponse" type="tns:permanentDeletePostResponse"/>
<xs:element name="publishPost" type="tns:publishPost"/>
<xs:element name="publishPostResponse" type="tns:publishPostResponse"/>
<xs:element name="removeUser" type="tns:removeUser"/>
<xs:element name="removeUserResponse" type="tns:removeUserResponse"/>
<xs:element name="restorePost" type="tns:restorePost"/>
<xs:element name="restorePostResponse" type="tns:restorePostResponse"/>
<xs:element name="search" type="tns:search"/>
<xs:element name="searchResponse" type="tns:searchResponse"/>
<xs:element name="unpublishPost" type="tns:unpublishPost"/>
<xs:element name="unpublishPostResponse" type="tns:unpublishPostResponse"/>
<xs:element name="updatePost" type="tns:updatePost"/>
<xs:element name="updatePostResponse" type="tns:updatePostResponse"/>
<xs:complexType name="getPostById">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getPostByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:post"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="post">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
      <xs:element minOccurs="0" name="date" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="published" type="xs:int"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="postid" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listCommentResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:comment"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="post_id" type="xs:int"/>
      <xs:element minOccurs="0" name="time" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listUser">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="listUserResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="postid" type="xs:int"/>
      <xs:element minOccurs="0" name="nama" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="konten" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addCommentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="search">
    <xs:sequence>
      <xs:element minOccurs="0" name="query" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:post"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updatePost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="judul" type="xs:string"/>
      <xs:element minOccurs="0" name="tanggal" type="xs:string"/>
      <xs:element minOccurs="0" name="konten" type="xs:string"/>
      <xs:element minOccurs="0" name="statusPublikasi" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updatePostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="modifyUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="modifyUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="permanentDeletePost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="permanentDeletePostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="publishPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="publishPostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="removeUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="removeUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="judul" type="xs:string"/>
      <xs:element minOccurs="0" name="konten" type="xs:string"/>
      <xs:element minOccurs="0" name="tanggal" type="xs:string"/>
      <xs:element minOccurs="0" name="statusPublikasi" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addPostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listPost">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="listPostResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:post"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserById">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deletePost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deletePostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="restorePost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="restorePostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserByUsername">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserByUsernameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="unpublishPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="unpublishPostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPostByIdResponse">
    <wsdl:part element="tns:getPostByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listComment">
    <wsdl:part element="tns:listComment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part element="tns:addUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addComment">
    <wsdl:part element="tns:addComment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part element="tns:search" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="permanentDeletePostResponse">
    <wsdl:part element="tns:permanentDeletePostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePost">
    <wsdl:part element="tns:updatePost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyUser">
    <wsdl:part element="tns:modifyUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="publishPostResponse">
    <wsdl:part element="tns:publishPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="permanentDeletePost">
    <wsdl:part element="tns:permanentDeletePost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="publishPost">
    <wsdl:part element="tns:publishPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUser">
    <wsdl:part element="tns:removeUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserById">
    <wsdl:part element="tns:getUserById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restorePostResponse">
    <wsdl:part element="tns:restorePostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyUserResponse">
    <wsdl:part element="tns:modifyUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePost">
    <wsdl:part element="tns:deletePost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser">
    <wsdl:part element="tns:addUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePostResponse">
    <wsdl:part element="tns:deletePostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserByIdResponse">
    <wsdl:part element="tns:getUserByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="unpublishPost">
    <wsdl:part element="tns:unpublishPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listPostResponse">
    <wsdl:part element="tns:listPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPostById">
    <wsdl:part element="tns:getPostById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listUser">
    <wsdl:part element="tns:listUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listCommentResponse">
    <wsdl:part element="tns:listCommentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUserResponse">
    <wsdl:part element="tns:removeUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPostResponse">
    <wsdl:part element="tns:addPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part element="tns:searchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPost">
    <wsdl:part element="tns:addPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listUserResponse">
    <wsdl:part element="tns:listUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listPost">
    <wsdl:part element="tns:listPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCommentResponse">
    <wsdl:part element="tns:addCommentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePostResponse">
    <wsdl:part element="tns:updatePostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserByUsernameResponse">
    <wsdl:part element="tns:getUserByUsernameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restorePost">
    <wsdl:part element="tns:restorePost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserByUsername">
    <wsdl:part element="tns:getUserByUsername" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="unpublishPostResponse">
    <wsdl:part element="tns:unpublishPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SimpleBlogService">
    <wsdl:operation name="getPostById">
      <wsdl:input message="tns:getPostById" name="getPostById">
    </wsdl:input>
      <wsdl:output message="tns:getPostByIdResponse" name="getPostByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listComment">
      <wsdl:input message="tns:listComment" name="listComment">
    </wsdl:input>
      <wsdl:output message="tns:listCommentResponse" name="listCommentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listUser">
      <wsdl:input message="tns:listUser" name="listUser">
    </wsdl:input>
      <wsdl:output message="tns:listUserResponse" name="listUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <wsdl:input message="tns:addComment" name="addComment">
    </wsdl:input>
      <wsdl:output message="tns:addCommentResponse" name="addCommentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input message="tns:search" name="search">
    </wsdl:input>
      <wsdl:output message="tns:searchResponse" name="searchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePost">
      <wsdl:input message="tns:updatePost" name="updatePost">
    </wsdl:input>
      <wsdl:output message="tns:updatePostResponse" name="updatePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUser">
      <wsdl:input message="tns:modifyUser" name="modifyUser">
    </wsdl:input>
      <wsdl:output message="tns:modifyUserResponse" name="modifyUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="permanentDeletePost">
      <wsdl:input message="tns:permanentDeletePost" name="permanentDeletePost">
    </wsdl:input>
      <wsdl:output message="tns:permanentDeletePostResponse" name="permanentDeletePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publishPost">
      <wsdl:input message="tns:publishPost" name="publishPost">
    </wsdl:input>
      <wsdl:output message="tns:publishPostResponse" name="publishPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <wsdl:input message="tns:removeUser" name="removeUser">
    </wsdl:input>
      <wsdl:output message="tns:removeUserResponse" name="removeUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <wsdl:input message="tns:addPost" name="addPost">
    </wsdl:input>
      <wsdl:output message="tns:addPostResponse" name="addPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listPost">
      <wsdl:input message="tns:listPost" name="listPost">
    </wsdl:input>
      <wsdl:output message="tns:listPostResponse" name="listPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserById">
      <wsdl:input message="tns:getUserById" name="getUserById">
    </wsdl:input>
      <wsdl:output message="tns:getUserByIdResponse" name="getUserByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <wsdl:input message="tns:deletePost" name="deletePost">
    </wsdl:input>
      <wsdl:output message="tns:deletePostResponse" name="deletePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUser" name="addUser">
    </wsdl:input>
      <wsdl:output message="tns:addUserResponse" name="addUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restorePost">
      <wsdl:input message="tns:restorePost" name="restorePost">
    </wsdl:input>
      <wsdl:output message="tns:restorePostResponse" name="restorePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByUsername">
      <wsdl:input message="tns:getUserByUsername" name="getUserByUsername">
    </wsdl:input>
      <wsdl:output message="tns:getUserByUsernameResponse" name="getUserByUsernameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unpublishPost">
      <wsdl:input message="tns:unpublishPost" name="unpublishPost">
    </wsdl:input>
      <wsdl:output message="tns:unpublishPostResponse" name="unpublishPostResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimpleBlogServiceImplementationServiceSoapBinding" type="tns:SimpleBlogService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPostById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPostById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPostByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listComment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listComment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listCommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addComment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addCommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="search">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updatePost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="modifyUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modifyUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="permanentDeletePost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="permanentDeletePost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="permanentDeletePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publishPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="publishPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="publishPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletePost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restorePost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="restorePost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="restorePostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByUsername">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserByUsername">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserByUsernameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unpublishPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="unpublishPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="unpublishPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleBlogServiceImplementationService">
    <wsdl:port binding="tns:SimpleBlogServiceImplementationServiceSoapBinding" name="SimpleBlogServiceImplementationPort">
      <soap:address location="http://frozen-ocean-5600.herokuapp.com/SimpleBlogService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>